.add-track-menu {
    position: relative;
    &__item-container {
        display: none;
        width: 100%;
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 2000;
        background-color: $color--background-dark;
        border: solid 2px $color--main;
        @include boxShadow($color--main);
        &.show-menu {
            display: initial;
        }
    }
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__menu-item {
        display: flex; 
        align-items: center;
        justify-content: center;
        height: 40px;
        background-color: $color--background-dark;
        color: $color--main;
        font-family: $font--primary;
        font-size: 24px;
        cursor: pointer;
        border: solid 2px $color--main;
        @include boxShadow($color--main);
    }
    &__button {
        width: 220px;
        height: 40px;
        background-color: $color--main;
        color: $color--background-dark;
        font-family: $font--primary;
        font-size: 24px;
        border: none;
        @include boxShadow($color--main);
    }
}