.button {
    background: none;
    border: solid 2px;
    font-family: $font--primary;
    font-size: 18px;
    padding: 4px 8px;
    cursor: pointer;
    margin: 8px;
    @include boxShadow();
    @include textShadow();
    &.button--wide {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}