.dial {
    width: 220px;
    height: 220px;
    position: relative;
    background-color: yellow;
    border-radius: 110px;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid pink 2px;
        width: 300px;
        height: 300px;
    }
    &__marker {
        display: inline-block;
        position: absolute;
        top: 104px;
        right: 12px;
        width: 12px;
        height: 12px;
        background-color: brown;
        border-radius: 6px;
    }
}