.dial {
    width: 120px;
    height: 120px;
    position: relative;
    background-color: yellow;
    border-radius: 60px;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid pink 2px;
        width: 150px;
        height: 150px;
    }
    &__outer-container {
        
    }
    &__marker {
        display: inline-block;
        position: absolute;
        top: 54px;
        right: 12px;
        width: 12px;
        height: 12px;
        background-color: brown;
        border-radius: 6px;
    }
}