.draggable-wrapper {
    position: absolute;
    z-index: 5000;
    top: 0;
    left: 0;
    &__header {
        background-color: $color--main;
        border: solid 4px $color--main;
        border-bottom: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        @include boxShadow($color--main);
    }
    &__button {
        background: $color--background-dark;
        color: $color--main;
        border: solid 2px;
        font-family: $font--primary;
        font-size: 18px;
        padding: 4px 8px;
        cursor: pointer;
        @include boxShadow($color--main);
        @include textShadow($color--main);
    }
}