.effect {
    &__container {
        width: 350px;
        background-color: $color--background-dark;
        color: $color--main;
        border: solid 4px;
        padding: 16px;
        @include boxShadow();
        &--large {
            width: 500px;
        }
    }
    &__header-container {
        display: flex;
        align-items: center;
    }
    &__title {
        font-family: $font--primary;
        font-size: 36px;
        color: $color--main;
        @include textShadow($color--main);
    }
    &__settings-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__dial-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
}