.error-ui {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
        position: absolute;
        z-index: 6000;
        width: 500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color--background-medium;
        color: $color--main;
        border: solid 2px;
        @include boxShadow();
    }
    &__title {
        font-family: $font--primary;
        font-size: 24px;
        color: $color--main;
        @include textShadow();
    }
    &__text {
        font-family: $font--primary;
        font-size: 16px;
        color: $color--main;
        @include textShadow();
    }
    &__button {
        font-family: $font--primary;
        font-size: 16px;
        color: $color--main;
        padding: 4px 8px;
        border: solid 2px;
        background: none;
        align-self: center;
        @include textShadow();
        @include boxShadow();
    }
}