.switch__radio-button {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px;
}

.switch__label {
    font-family: $font--primary;
    font-size: 16px;
    color: $color--main;
    background: none;
    flex-basis: 25%;
    flex-grow: 1;
    padding: 8px;
    text-align: center;
    transition: all ease-in-out 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .switch__radio-button:hover + & { 
        background-color: $color--background-medium;
    }
    .switch__radio-button:checked + & {
        background-color: $color--main;
        color: $color--background-medium;
    }
}

.switch__row {
    color: $color--main;
    border: solid 2px;
    border-radius: 3px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    @include boxShadow();
    @include textShadow();
}

.switch__row-description {
    font-family: $font--primary;
    font-size: 14px;
    margin-bottom: 0;
    @include textShadow();
}