.tool-selection-menu {
    border: solid 2px;
    border-radius: 3px;
    color: $color--main;
    margin-left: 32px;
    display: flex;
    &__radio-button {
        width: 0;
        height: 0;
        position: absolute;
        left: -9999px;
    }
    &__label {
        padding: 7px;
        color: $color--main;
        width: 28px;
        height: 28px;
        cursor: pointer;
        svg {
            fill: $color--main;
        }
        .tool-selection-menu__radio-button:hover + & {
            background-color: $color--background-dark;
        }
        .tool-selection-menu__radio-button:checked + & {
            background-color: $color--main;
            color: $color--background-dark;
            svg {
                fill: $color--background-dark;
            }
        }

    }
}