.track-details {
    &__container {
        width: 600px;
        background-color: $color--background-dark;
        color: $color--main;
        border: solid 4px $color--main;
        padding: 16px;
        @include boxShadow($color--main);
    }
    &__heading {
        font-family: $font--primary;
        font-size: 36px;
        color: $color--main;
        @include textShadow($color--main);
    }
    &__instrument-select-label {
        font-family: $font--primary;
        font-size: 16px;
        color: $color--main;
        @include textShadow($color--main);
        display: block;
    }
    &__instrument-select {
        font-family: $font--primary;
        font-size: 16px;
        padding: 4px 8px;
        background: none;
        color: $color--main;
        border: solid 2px;
        @include textShadow($color--main);
        @include boxShadow($color--main);
    }
    &__instrument-select-option {
        background-color: $color--off-white;
        color: $color--background-dark;
    }
    &__instrument-settings-button {
        margin-left: auto;
        background: none;
        color: $color--main;
        @include textShadow($color--main);
        @include boxShadow($color--main);
        border: solid 2px;
        font-family: $font--primary;
        font-size: 18px;
        padding: 4px 8px;
        cursor: pointer;
    }
    &__effect-select {
        font-family: $font--primary;
        font-size: 16px;
        padding: 4px 8px;
        background: none;
        color: $color--main;
        border: solid 2px;
        @include textShadow($color--main);
        @include boxShadow($color--main);
    }
    &__effect-select-option {
        background-color: $color--off-white;
        color: $color--background-dark;
    }
    &__effect-select-label {
        font-family: $font--primary;
        font-size: 16px;
        color: $color--main;
        @include textShadow($color--main);
        display: block;
    }
    &__effect-button {
        background: none;
        color: $color--main;
        @include textShadow($color--main);
        @include boxShadow($color--main);
        border: solid 2px;
        font-family: $font--primary;
        font-size: 18px;
        padding: 4px 8px;
        cursor: pointer;
    }
    &__effect-text {
        font-family: $font--primary;
        font-size: 16px;
        color: $color--main;
        @include textShadow($color--main);
    }
}