// fonts
$font--primary: 'VT323', monospace;

$color--background-dark: #030303;
$color--background-medium: #131313;
$color--background-light: #232323;

$color--main: #23af62;
$color--off-white: #e0e0e0;
$color--off-white-alt: #ccc9c9;
$color--bright-blue: #00bff3;
$color--bright-yellow: #f4ab54;
$color--bright-red: #e23340;
$color--pink: #d86597;


// colors
//$color--pink: #d86597;
//$color--pink: #aec8f0;
//$color--pink: #3cca7c;
//$color--pink: #23af62;
//$color--deep-purple: #201826;
//$color--deep-purple: #0a0a0a;
//$color--deep-purple: #030303;
//$color--light-purple: #47426c;
//$color--light-purple: #202020;
//$color--light-purple: #131313;
//$color--bright-green: #25e452;
//$color--dark-grey: #222222;


