// fonts
$font--primary: 'VT323', monospace;

// colors
$color--pink: #d86597;
$color--deep-purple: #201826;
$color--light-purple: #47426c;
$color--off-white: #e0e0e0;
$color--bright-blue: #00bff3;
$color--bright-yellow: #f4ab54;
$color--bright-red: #e23340;
$color--bright-green: #25e452;
$color--dark-grey: #222222;


