.deep-purple {
    color: $color--background-dark;
}
  
.light-purple {
    color: $color--background-medium;
}
  
.pink {
    color: $color--main;
}
  
.off-white {
    color: $color--off-white;
}
  
.bright-blue {
    color: $color--bright-blue;
}
  
.bright-yellow {
    color: $color--bright-yellow;
}
  
.bright-red {
    color: $color--bright-red;
}
  
.bright-green {
    color: $color--pink;
}
