.canvas-container {
  height: 600px;
  overflow: auto;
}

.piano-roll-container {
  width: 80%;
  height: 650px;
  margin: 16px auto;
  border: solid slategray 2px;
}

.piano-roll-controls-container {
  height: 50px;
  background-color: slategray;
  display: flex;
  align-items: center;
}

.piano-roll-controls__label {
  color: #eee;
  margin-right: 8px;
  margin-left: 16px;
}

.composer__container {
  background-color: slategray;
  min-height: 350px;
  display: flex;
}