* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.canvas-container {
  height: 600px;
  overflow: auto;
  background-color: #201826;
}

.piano-roll-container {
  height: 650px;
  width: 800px;
  
  border: solid #d86597 2px;
  box-sizing: content-box;
  box-shadow: 
    0 0 4px #ed90b9,
    inset 0 0 2px #ed90b9;
}

.piano-roll-controls-container {
  height: 50px;
  background-color: #2c2338;
  border: solid #d86597 2px;
  display: flex;
  align-items: center;
  box-shadow: 
    0 0 4px #ed90b9,
    inset 0 0 2px #ed90b9;
}

.piano-roll-controls__label {
  color: #d86597;
  font-family: 'VT323', monospace;
  font-size: 16px;
  margin-right: 8px;
  margin-left: 16px;
  text-shatext-shadow: 0 0 6px #ed90b9;
}



.main-container {
  background-color: #201826;
  min-height: 100vh;
  padding: 32px;
}

.menu {
  background-color: deeppink;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}


.composer__container {
  box-sizing: initial;
  background-color: #201826;
  height: 350px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border: solid 4px #d86597;
  box-shadow: 
    0 0 4px #d86597,
    inset 0 0 2px #d86597;
}

.composer__controls-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #201826;
  border-bottom: solid 4px #d86597;
  box-shadow: 
    0 0 4px #d86597,
    inset 0 0 2px #d86597;
}

.composer__delete-section-button {
  color: #d86597;
  background-color: #201826;
  font-family: 'VT323', monospace;
  font-size: 16px;
  padding: 4px 8px;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
  border: solid 2px #d86597;
  text-shadow: 0 0 6px #ed90b9;
  box-shadow: 
    0 0 4px #d86597,
    inset 0 0 2px #d86597;
}

.composer__row {
  display: flex;
}

.composer__track-info-container-outer {
  width: 220px;
  position: relative;
}

.composer__track-info-scroll-outer {
  overflow-y: hidden;
}

.composer__track-info-scroll-inner {
  position: relative;
}

.add-track-menu {
  position: relative;
}

.add-track-menu__item-container {
  display: none;
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 2000;
  background-color: #201826;
  border: solid 2px #d86597;
  box-shadow: 
    0 0 4px #d86597,
    inset 0 0 2px #d86597;
}

.add-track-menu__item-container.show-menu {
  display: initial;
}

.add-track-menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.add-track-menu__menu-item {
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #201826;
  color: #d86597;
  font-family: 'VT323', monospace;
  font-size: 24px;
  cursor: pointer;
  border: solid 2px #d86597;
  box-shadow: 
    0 0 4px #d86597,
    inset 0 0 2px #d86597;
   
}

.add-track-menu__button {
  width: 220px;
  height: 40px;
  background-color: #d86597;
  color: #201826;
  font-family: 'VT323', monospace;
  font-size: 24px;
  border: none;
  box-shadow: 
    0 0 4px #d86597,
    inset 0 0 2px #d86597;
}

.composer__canvas-container {

}




.track-info {
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  height: 70px;
  background-color: #201826;
  border: solid 4px #d86597;
  box-shadow: 
    0 0 4px #d86597,
    inset 0 0 2px #d86597;
}

.track-info.selected {
  background-color: #47426c;
}

.track-info__left-block {

}

.track-info__track-name {
  font-family: 'VT323', monospace;;
  font-size: 18px;
  color: #d86597;
  text-shadow: 0 0 6px #d86597;
  margin-top: 0;
  margin-bottom: 4px;
}

.track-info__track-name-input {
  background: none;
  border: none;
  border-bottom: solid 2px;
  display: block;
  font-family: 'VT323', monospace;;
  font-size: 18px;
  color: #d86597;
  text-shadow: 0 0 6px #d86597;
  margin-top: 0;
  margin-bottom: 2px;
}

.track-info__button {
  width: 18px;
  height: 18px;
  background-color: #d86597;
  color: #201826;
  font-family: 'VT323', monospace;
  font-size: 16px;
  border: none;
  cursor: pointer;
  box-shadow: 
    0 0 4px #d86597,
    inset 0 0 2px #d86597;
}

.track-info__button + .track-info__button {
  margin-left: 8px;
}

.track-info__button.active {
  color: #d86597;
  background-color: #201826;
  box-shadow: 
    0 0 4px #201826,
    inset 0 0 2px #201826;
}

.track-info__color-swatch {
  display: inline-block;
  width: 10px;
  height: 40px;
  background-color: red;
  cursor: pointer; 
  margin-left: auto;
  box-shadow: 
    0 0 4px red,
    inset 0 0 2px red;
}


.track-color-picker {
  position: absolute;
  left: 190px;
  display: flex;
  z-index: 1000;
}

.track-color-picker__color-swatch {
  width: 16px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 
    0 0 4px,
    inset 0 0 2px
}


.synth-interface__container {
  padding: 16px;
  background-color: #201826;
  color: #d86597;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  border: solid 4px;
  box-shadow: 
    0 0 4px,
    inset 0 0 2px
}

.synth-interface__container--small {
  width: 600px;
}

.synth-interface__module-container {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.synth-interface__module-heading {
  font-family: 'VT323', monospace;
  font-size: 24px;
  color: #d86597;
  text-shadow: 0 0 6px #d86597;
}

.synth-interface__header-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}

.synth-interface__seperator {
  padding: 8px 16px;
  width: 100%;
}

.synth-interface__title {
  font-family: 'VT323', monospace;
  font-size: 36px;
  color: #d86597;
  text-shadow: 0 0 6px #d86597;
}

.synth-interface__close-button {
  margin-left: auto;
  background: none;
  color: #e0e0e0;
  border: solid 2px;
  font-family: 'VT323', monospace;
  font-size: 18px;
  padding: 4px 8px;
  cursor: pointer;
}








.range-input {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 150px; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  margin-top: 8px;
  margin-bottom: 8px;
}

.range-input.range-input__vertical {
  transform: rotate(-90deg);
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.range-input:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.range-input::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 32px;
  border-radius: 2px;
  background: #d86597;
  cursor: pointer;
  margin-top: -5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

.range-input::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #d86597;
  cursor: pointer;
}

.range-input::-ms-thumb { 
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #d86597;
  cursor: pointer;
}

.range-input::-webkit-slider-runnable-track { 
  width: 100px;
  height: 6px;
  background: #47426c;
  border-radius: 1px;
}

.range-input__label {
  font-family: 'VT323', monospace;
  font-size: 16px;
}


.synth__select-input {
  font-family: 'VT323', monospace;
  font-size: 16px;
  padding: 4px 8px;
  background: none;
  color: #e0e0e0;
  border: solid 2px #e0e0e0;
}

.synth__select-input-option {
  background-color: #e0e0e0;
  color: #201826;
}

.synth__select-input-label {
  font-family: 'VT323', monospace;
  font-size: 16px;
}



.track-details__container {
  width: 600px;
  background-color: #201826;
  color: #d86597;
  border: solid 4px #d86597;
  padding: 16px;
  box-shadow: 
    0 0 4px,
    inset 0 0 2px; 
}

.track-details__instrument-info-container {

}

.track-details__heading {
  font-family: 'VT323', monospace;
  font-size: 36px;
  color: #d86597;
  text-shadow: 0 0 6px #d86597;
}

.track-details__instrument-select-label {
  font-family: 'VT323', monospace;
  font-size: 16px;
  color: #d86597;
  text-shadow: 0 0 6px #d86597;
  display: block;
}

.track-details__instrument-select {
  font-family: 'VT323', monospace;
  font-size: 16px;
  padding: 4px 8px;
  background: none;
  color: #d86597;
  text-shadow: 0 0 6px #d86597;
  border: solid 2px;
  box-shadow: 
    0 0 4px,
    inset 0 0 2px;
}

.track-details__instrument-select-option {
  background-color: #e0e0e0;
  color: #201826;
}

.track-details__instrument-settings-button {
  margin-left: auto;
  background: none;
  color: #d86597;
  text-shadow: 0 0 6px #d86597;
  border: solid 2px;
  font-family: 'VT323', monospace;
  font-size: 18px;
  padding: 4px 8px;
  cursor: pointer;
  box-shadow: 
    0 0 4px,
    inset 0 0 2px;
}

.track_details__effects-info-container {

}

.track-details__effect-select {
  font-family: 'VT323', monospace;
  font-size: 16px;
  padding: 4px 8px;
  background: none;
  color: #d86597;
  border: solid 2px;
  text-shadow: 0 0 6px #d86597;
  box-shadow: 
    0 0 4px,
    inset 0 0 2px;
}

.track-details__effect-select-option {
  background-color: #e0e0e0;
  color: #201826;
}

.track-details__effect-select-label {
  font-family: 'VT323', monospace;
  font-size: 16px;
  color: #d86597;
  text-shadow: 0 0 6px #d86597;
  display: block;
}

.track-details__effect-button {
  background: none;
  color: #d86597;
  text-shadow: 0 0 6px #d86597;
  border: solid 2px;
  font-family: 'VT323', monospace;
  font-size: 18px;
  padding: 4px 8px;
  cursor: pointer;
  box-shadow: 
    0 0 4px,
    inset 0 0 2px;
}

.track-details__effect-text {
  font-family: 'VT323', monospace;
  font-size: 16px;
  color: #d86597;
  text-shadow: 0 0 6px #d86597;
}


.track-details__close-button {
  margin-left: auto;
  background: none;
  color: #e0e0e0;
  border: solid 2px;
  font-family: 'VT323', monospace;
  font-size: 18px;
  padding: 4px 8px;
  cursor: pointer;
}


.transport__container {
  width: 960px;
  margin: 16px auto;
  background-color: #201826;
  color: #d86597;
  border: solid 4px;
  padding: 8px 16px;
  box-shadow: 
    0 0 4px #d86597,
    inset 0 0 2px #d86597;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transport__button {
  background: none;
  color: #d86597;
  border: solid 2px;
  font-family: 'VT323', monospace;
  font-size: 18px;
  padding: 4px 8px;
  cursor: pointer;
  margin: 8px;
  box-shadow: 
    0 0 4px #d86597,
    inset 0 0 2px #d86597;
    text-shadow: 0 0 6px #d86597;
}







/************************
REUSABLE STYLES
*************************/

.select-input {
  font-family: 'VT323', monospace;
  font-size: 16px;
  padding: 4px 8px;
  background: none;
  border: solid 2px;
  box-shadow: 
    0 0 4px,
    inset 0 0 2px;
  text-shadow: 0 0 6px;
}

.select-input__label {
  font-family: 'VT323', monospace;
  font-size: 16px;
  display: block;
  text-shadow: 0 0 6px;
}

.select-input__option {
  background-color: #e0e0e0;
  color: #201826;
}


.button {
  background: none;
  border: solid 2px;
  font-family: 'VT323', monospace;
  font-size: 18px;
  padding: 4px 8px;
  cursor: pointer;
  margin: 8px;
  box-shadow: 
    0 0 4px,
    inset 0 0 2px;
  text-shadow: 0 0 6px;
}

.deep-purple {
  color: #201826;
}

.light-purple {
  color: #47426c;
}

.pink {
  color: #d86597;
}

.off-white {
  color: #e0e0e0;
}

.bright-blue {
  color: #00bff3;
}

.bright-yellow {
  color: #f4ab54;
}

.bright-red {
  color: #e23340;
}

.bright-green {
  color: #25e452;
}






.effect__container {
  width: 350px;
  background-color: #201826;
  color: #d86597;
  border: solid 4px #d86597;
  padding: 16px;
  box-shadow: 
    0 0 4px,
    inset 0 0 2px; 
}

.effect__container--large {
  width: 500px;
}

.effect__header-container {
  display: flex;
  align-items: center;
}

.effect__title {
  font-family: 'VT323', monospace;
  font-size: 36px;
  color: #d86597;
  text-shadow: 0 0 6px #d86597;
}

.effect__close-button {
  background: none;
  color: #d86597;
  border: solid 2px;
  font-family: 'VT323', monospace;
  font-size: 18px;
  padding: 4px 8px;
  cursor: pointer;
  margin-left: auto;
  box-shadow: 
    0 0 4px #d86597,
    inset 0 0 2px #d86597;
  text-shadow: 0 0 6px #d86597;
}

.effect__settings-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}




.transport__track-position {
  font-family: 'VT323', monospace;
  font-size: 18px;
  padding: 4px 8px;
  color: #d86597;
  text-shadow: 0 0 6px #d86597;
  background-color: #47426c;
  border: solid 2px #47426c;
  box-shadow: 
    0 0 4px #47426c,
    inset 0 0 2px #47426c;
}

.transport__bpm-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
  background-color: #47426c;
  border: solid 2px #47426c;
  padding: 4px 8px;
  box-shadow: 
    0 0 4px #47426c,
    inset 0 0 2px #47426c;
}

.transport__bpm-label {
  font-family: 'VT323', monospace;
  font-size: 18px;
  color: #d86597;
  text-shadow: 0 0 6px #d86597;
}

.transport__bpm-input {
  font-family: 'VT323', monospace;
  font-size: 18px;
  color: #d86597;
  text-shadow: 0 0 6px #d86597;
  width: 35px;
  background: none;
  margin-left: 8px;
  border: none; 
  border-bottom: 2px solid #d86597;
}

.transport__bpm-text {
  font-family: 'VT323', monospace;
  font-size: 18px;
  color: #d86597;
  text-shadow: 0 0 6px #d86597;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 8px;
  cursor: pointer;
  width: 35px;
}



.draggable-window__container {
  background-color: #f4ab54;
  width: 350px;
  min-height: 200px;
  padding: 16px;
  font-family: 'VT323', monospace;
  font-size: 24px;
  color: #201826;
  position: absolute;
  top: 30px;
  left: 30px;
}


.draggable-wrapper {
  position: absolute;
  z-index: 5000;
  top: 30px;
  left: 30px;
}

.draggable-wrapper__header {
  background-color: #d86597;
  border: solid 4px #d86597;
  border-bottom: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 
    0 0 4px #d86597,
    inset 0 0 2px #d86597;
}

.draggable-wrapper__button {
  background: #201826;
  color: #d86597;
  border: solid 2px;
  font-family: 'VT323', monospace;
  font-size: 18px;
  padding: 4px 8px;
  cursor: pointer;
  box-shadow: 
    0 0 4px #d86597,
    inset 0 0 2px #d86597;
  text-shadow: 0 0 6px #d86597;
}


.slider__container {
  border: solid green 1px;
  padding: 16px;
}

.slider__track {
  display: inline-block;
  position: relative;
  background-color: #47426c;
  height: 100px;
  width: 6px;
}

.slider__handle {
  background-color: #d86597;
  position: absolute;
  transform: translateX(-25%);
  left: 0;
  height: 16px;
  width: 10px;
  cursor: pointer;
}

.mixer__container {
  border: solid green 1px;
  padding: 16px;
  min-height: 260px;
  display: flex;
}


.mixer__item {
  border: solid red 1px;
  width: 100px;
  text-align: center;
}

.mixer__volume-marker-container {
  display: inline-block;
  min-width: 8px;
  margin-left: 8px;
  height: 120px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.range-input.range-input__mixer-volume {
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  width: 120px;
  top: 0;
  left: -22px;
  transform: rotate(-90deg) translateX(-57px);
}

.mixer__meter-outer {
  display: inline-block;
  background: none;
  width: 16px;
  min-width: 16px;
  height: 120px;
  margin-right: 16px;
  margin-left: auto;
  position: relative;
  border: solid 1px #00bff3;
}

.mixer__meter-inner {
  background-color: #00bff3;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
}

.mixer__slider-container {
  display: flex;
  align-items: center;
  position: relative;
  border: solid orange 1px;
}

.mixer__button-container {
  border: solid blue 1px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
}

.mixer__button {
  width: 18px;
  height: 18px;
  background-color: #d86597;
  color: #201826;
  font-family: 'VT323', monospace;
  font-size: 16px;
  border: none;
  cursor: pointer;
  box-shadow: 
    0 0 4px #d86597,
    inset 0 0 2px #d86597;
  margin-left: 16px;
  margin-right: 16px;
}

.mixer__button + .mixer__button {
  margin-left: auto;
}

.range-input.range-input__mixer-pan {
  width: 80px;
}

.mixer__volume-marker {
  margin-top: 0;
  margin-bottom: 0;
  color: #d86597;
  font-family: 'VT323', monospace;
  font-size: 14px;
  text-shadow: 0 0 6px #d86597;
}

.pan__label-container {
  display: flex;
  justify-content: space-between;
}

.pan__label {
  font-family: 'VT323', monospace;
  font-size: 14px;
  color: #d86597;
  text-shadow: 0 0 6px #d86597;
  margin: 0 16px;
}

.mixer__track-name {
  font-family: 'VT323', monospace;
  font-size: 16px;
  color: #d86597;
  text-shadow: 0 0 6px #d86597;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 8px;
}
